{% extends "layout.html" %}


{% block head %}
    <title>Sobre - Marco Aurélio</title>
{% endblock %}



{% block content %}


<div id="wrapper">
    <img src="https://avatars1.githubusercontent.com/u/30642904?s=460&v=4" alt="Marco Aurelio">
    <h1>Marco Aurélio</h1>
    <h2>Aluno bootcamp - LaunchBase</h2>
    <p>Programador full stack, focando em back-end. Com um pézinho em segurança da informação e aluno do bootcamp LaunchBase oferecido pela <a href="https://rocketseat.com.br" target="_blank">RocketSeat</a></p>
</div>

<div id="links-footer" class="links">
    <a href="https://github.com/merizito" target="_blank">Github</a>
    <a href="https://twitter.com/merezito" target="_blank">Twitter</a>
    <a href="https://linkedin.com/in/merizito" target="_blank">Linkedin</a>
    <a href="https://facebook.com/merizito" target="_blank">Facebook</a>
</div>

{% endblock %}