{% extends "layout.njk" %}

{% block content %}

    <div class="main">
        <img src="/logo_rocketseat.jpg" alt="logo_rocketseat">
        <h1>RocketSeat</h1>
        <h2>As melhores tecnologias em programação, direto ao ponto e do jeito certo.</h2>
        
        <p>Principais Tecnologias:</p>
        <ul>
            <li>JavaScript</li>
            <li>NodeJS</li>
            <li>React</li>
            <li>React Native</li>
        </ul>
    </div>

    <div id="footer" class="links">
        <a href="https://github.com/rocketseat" target="_blank">Github</a>
        <a href="https://instagram.com/rocketseat_oficial" target="_blank">Instagram</a>
        <a href="https://facebook.com/rocketseat" target="_blank">Facebook</a>
    </div>

{% endblock %}