@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";

:root {

}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    min-width: 1024px;
}

header img {
    top: 32px;
    margin: 0 432px;
    position: absolute;
}

.menu {
    text-align: center;
    font-family: 'Roboto';
    font-weight: 400;
    margin-right: 22%;
}

.menu a {
    color: #111111;
    font-size: 18px;
    line-height: 19px;
    text-decoration: none;
    display: inline-block;
    margin: 32px 15px;
}

.main {
    /* max-width: 1080px; */
    width:  55%;
    height: 391px;
    background-color: #FBDFDB;
    border-radius: 30px;
    margin: 0 auto;
}

.main__content {
    grid-template-columns: 1fr;
}

.main img {
    margin-top: 8.5%;
    margin-left: 70.5%;
    position: relative;
}

.main h1 {
    font-weight: 700;
    font-family: 'Roboto';
    margin: 7% 4%;
    color: #111111 100%;
    font-size: 34px;
    position: absolute;
}

.main h2 {
    font-size: 22px;
    font-weight: 400;
    font-family: 'Roboto-Regular';
    line-height: 24px;
    margin: 9.5% 4%;
    width: 356px;
    opacity: 0.7;
    color: #000000 100%;
    position: absolute;
}