@import "https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap";

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Roboto, sans-serif;
    width: 100vw;
    height: 100vh;
    min-width: 1024px;
}

.menu-image {
    width: 1054px;
    margin: 0 auto;
}

header img {
    top: 32px;
    position: absolute;
}

.menu {
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    margin-right: 22%;
}

.menu a {
    color: #111111;
    font-size: 18px;
    line-height: 19px;
    text-decoration: none;
    display: inline-block;
    margin: 32px 15px;
}

.main {
    width: 1054px;
    height: 391px;
    background-color: #FBDFDB;
    border-radius: 30px;
    margin: 0 auto;
}

.main__content {
    grid-template-columns: 1fr;
}

.main img {
    margin-top: 8.5%;
    margin-left: 70.5%;
    position: relative;
}

.main h1 {
    font-weight: 700;
    font-family: Roboto;
    margin: 117px 60px;
    color: #111111 100%;
    font-size: 34px;
    position: absolute;
}

.main h2 {
    font-size: 18px;
    font-weight: 400;
    font-family: Roboto;
    line-height: 24px;
    margin: 165px 60px;
    width: 316px;
    opacity: 0.7;
    color: #000000 100%;
    position: absolute;
}

#wrapper h1 {
    font-family: Roboto;
    font-weight: 700;
    width: 1054px;
    color: #111111;
    font-size: 26px;
    margin: 3% auto 1% auto;
}

/*=== CARDS ===*/

.cards {
    width: 1054px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    position: relative;
}

.image__container img{
    width: 334px;
    height: 170px;
    border-radius: 15px;
    cursor: pointer;
}

.card__content {
    color: #111111;
    font-family: Roboto;
    font-size: 18px;
    margin-top: 15px;
    font-weight: 500;
}

.card__author {
    color: #777777;
    font-family: Roboto;
    font-size: 14px;
    margin-top: 4px;
    font-weight: 400;
}

/*=== BODY RECEITAS ===*/

.about {
    width: 1054px;
    margin: 0 auto;

}

.about h1 {
    margin-top: 1.5%;
    font-family: Roboto;
    font-size: 24px;
    color: #111111;
}

.about h2 {
    margin-top: 1%;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    color: #444444;
    line-height: 28px;
}

/*=== MODAL OVERLAY ===*/

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    width: 660px;
    height: 470px;
    margin: 200px auto;
    border-radius: 16px;
    position: relative;
}

.modal-content img {
    width: 91%;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    /* margin: 3vh; */
    border-radius: 15px;
    position: absolute;
}

#modal-title {
    font-family: Roboto;
    width: 335px;
    font-size: 24px;
    /* line-height: 28px; */
    color: #111111;
    text-align: center;
    /* margin-top: 325px;
    margin-left: 215px; */
    margin: 325px 165px;
    /* margin-right: 165px; */
    position: absolute;
}

#modal-author {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    /* line-height: 21px; */
    color: #777777;
    /* text-align: center; */
    margin-top: 355px;
    margin-left: 260px;
    position: absolute;
}

/*=== MODAL ACTIVE & CLOSE ===*/

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal .close-modal {
    font-family: Roboto;
    margin-left: 290px;
    margin-top: 420px;
    font-size: 16px;
    cursor: pointer;
    color: #999999;
    width: 98px;
    position: absolute;
}

/*=== FOOTER ===*/

footer {
    width: 100%;
    color: #999999;
    font-size: 14px;
    line-height: 62px;
    text-align: center;
    background: #EEEEEE;
    position: relative;
    margin-top: 3%;
}